#page-course-delete_course_old-index #my-btn{
	background-color: blue;
}

.generaltable{
    margin-left: auto;
    margin-right: auto;
    width:90% !important;
}


.alert.alert-warning h3{
	font-size: 1.2rem !important;
}

