{{{ output.doctype }}}
<html {{{ output.htmlattributes }}} class="no-js">
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    {{{ output.standard_head_html }}}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Oswald|Open+Sans&subset=latin" rel="stylesheet">

    <!-- ios Icons -->
    {{{ iphone_icon_link }}}
    {{{ipad_icon_link}}}
    {{{iphone_retina_icon_link}}}
    {{{ipad_retina_icon_link}}}

    <!-- Analitycs -->
    {{{tracking}}}
    <!-- End Analitycs -->
    
</head>

<body {{{ bodyattributes }}} >

{{{ output.standard_top_of_body_html }}}

{{>theme_essential_uv/header}}

