a{
	color: #d51b23;
	text-overflow: ellipsis;
	overflow: hidden;
}

a:hover{
	color: #d51b23;
	font-weight: bold;
	text-decoration: none;
}

.content{
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    margin-top: 25px;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2em;
}

.title-2{
	font-size: 1.3em;
	text-align: justify;
}

.credits{
	margin-top: 15px;
	text-align: center;
}